body, html{
  height:100%;
}
body {
  background: black;
  margin: 0px;
}
.container{
  background-image: url("img/background_normal.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 18px;
  width: 100%;
}
.container, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
  position: relative;
  left: -35%;
}
.title, .addBackgroundDancerButton {
  padding:5px 12px;
  float:right;
  position: relative;
  left: -35%;
}
.topbar{
  height:32px;
}
.title{
  font-family: Helvetica;
}
.lineup {
  display: none;
  float:right;
  position: relative;
  left: -35%;
  margin: 6px 10px 0 0;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.backgroundDancer {
  border-color: yellow;
  border-width: 10px;
  border-style: inset inset outset outset;
  border-radius:5px;
  position: absolute;
}
.michaelDancer{
  position:relative;
  height: 20%;
  width: 20%;
  left: -10%;
  top: 62%;
}
.terrify{
  background-image: url("img/background_terrify.jpg");
}
.michael {
  position: absolute;
  height: 100%;
  width: 100%;
}
.michael img{
  height: 100%;
  width: 100%;
}
.mj_head{
  position: relative;
  left: 22%;
  top: -350%;
  width: 25%;
}
.mj_chest{
  position: relative;
  top: -227%;
  left: 3%;
  width: 50%;
}
.mj_legs {
  position: relative;
  width: 60%;
}
.mj_left_arm, .mj_right_arm, .mj_left_arm_terrify, .mj_right_arm_terrify {
  position: relative;
  width: 40%
}
.mj_left_arm{
  top: -322%;
  left: -14%;
}
.mj_right_arm{
  top: -369%;
  left: 26%;
}
.michael-terrify {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
}
.michael-terrify img{
  height: 100%;
  width: 100%;
}
.mj_head_terrify {
  position: relative;
  left: 16%;
  top: -355%;
  width: 25%;
}
.mj_chest_terrify {
  position: relative;
  top: -225%;
  left: 3%;
  width: 50%;
}
.mj_legs_terrify {
  position: relative;
  width: 60%;
}
.mj_left_arm_terrify{
  top: -311%;
  left: -10%;
}
.mj_right_arm_terrify{
  top: -374%;
  left: 27%;
}
.zombie {
  position: absolute;
  width: 60%;
}
.zombie img {
  width: 100%
}
.leftZombie {
  left: -400%;
}
.rightZombie{
  left: 400%;
}
.lineupleft1 {
  left: -90%;
  width: 46.67%;
}
.lineupleft2 {
  left: -125%;
  width: 53.34%;
}
.lineupleft3 {
  left: -160%;
  width: 60%;
}
.lineupright1 {
  left: 100%;
  width: 46.67%;
}
.lineupright2 {
  left: 130%;
  width: 53.34%;
}
.lineupright3 {
  left: 160%;
  width: 60%;
}